* {
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: black;
}

.homepage {
    width: 100%;
}

.heading {
    letter-spacing: 0.5px;
    margin-left: 20px;
    color: gold;
    text-decoration: none;
}

.heading:hover {
    opacity: 0.8;
    cursor: pointer;
}

.navbar-main {
    z-index: 2;
    opacity: 0.8;
    position: fixed;
    width: 99%;
    transition: top 0.3s;
    border-bottom: 2px solid gold;
}

.navbar-main:hover {
    opacity: 0.9;
    transition: all 0.5s ease;
}

.navbar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 5px;
    background-color: rgb(83, 81, 201);
    color: gold;
    height: 60px;
}

.left-navbar {
    display: flex;
    align-items: center;
}

.right-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
}

.right-nav-element {
    margin-right: 30px;
}

.right-nav-element:hover {
    opacity: 0.7;
    cursor: pointer;
}

.cart {
    margin-right: 60px;
}

.searchContainer {
    display: flex;
    align-items: center;
}

.inputBox {
    width: 300px;
    color: white;
    height: 25px;
    border-radius: 10px;
    border-color: rgb(7, 35, 243);
    padding-left: 15px;
    padding-right: 15px;
    color:darkviolet;
}

input:focus, textarea:focus {
    outline: none;
}

.searchButton {
    background-color: transparent;
    border: none;
}

.searchButton:hover {
    cursor: pointer;
    opacity: 0.8;
}

.ImageClass {
    height: 100%;
    width: 100%;
    /* filter: brightness(0.7); */
    padding-bottom: 0;
}

.slider {
    position: static;
    z-index: 0;
}

.sliderButton:hover {
    background-color: black;
    opacity: 0.8;
    cursor: pointer;
}

.cat {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 1px solid rgba(238, 232, 232, 0.385);
    margin-top: 10px;
    padding-bottom: 30px;
    justify-content: space-between;
}

.keyboardCategory {
    position: relative;
}

.CategoryHeading {
    letter-spacing: 2.5px;
    color: gold;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.seeProducts {
    color: white;
    background-color: rgba(13, 14, 14, 0.8);
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.seeProducts:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.1s ease;
}

.buynowButton {
    font-size: 12px;
    background-color: black;
    padding: 10px;
}

.imageProductBox {
    z-index: 1;
}

.imageProductBox:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s ease;
}

.productBox {
    position: relative;
}

.cattitle {
    font-size: 16px;
    font-weight: 500;
}

.catprice {
    font-size: 14px;
}

.divproductbox:hover > .buynowButton {
    background-color: black;
    visibility: visible;
    transition: all 0.3s ease;
}

.buynowButton:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer {
    color: white;
    font-weight: 400;
    padding-left: 100px;
    line-height: 30px;
}

.footer hr {
    max-width: 100%;
}

.footer-main {
    background-color: rgba(83, 81, 201, 0.314);
    padding-top: 20px;
}

.liFooter {
    color: white;
    text-decoration: none;
    opacity: 0.6;
    list-style: square;
}

.hrtag {
    color: rgb(83, 81, 201);
    margin-left: 80px;
    margin-right: 80px;
}

.crt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.socials {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.linkedinLink {
    color: white;
    text-align: center;
}

.linkedinLink:hover {
    opacity: 0.7;
}

.tANDcmain {
    display: flex;
    flex-direction: column;
}

.tANDcPara {
    color: white;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 20px;
}

.space {
    height: 50px;
}

.kbpage {
    background-color: rgb(83, 81, 201);
    opacity: 0.6;
}

.prod-main {
    color: white;
    padding-left: 150px;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
}

.leftProductPage {
    margin-right: 30px;
    padding-top: 20px;
}

.prodpagehead {
    color: rgb(83, 81, 201);
    font-weight: 600;
}

.prodpageprice {
    color: gold;
}

.proddesc {
    line-height: 50px;
}

.mainlogreg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.myacc {
    letter-spacing: 2.5px;
    font-weight: 500;
    color: gold;
}

.headinglogreg {
    font-size: 30px;
    font-weight: 400;
    margin-left: 550px;
}

.mainmainlogreg {
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    margin-bottom: 200px;
}

.username {
    font-family: sans-serif;
    width: 550px;
    height: 20px;
    padding: 10px;
    border: none;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.305);
    color: white;
    letter-spacing: 2px;
}

.password {
    margin-bottom: 20px;
}

.loginbutton {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    border: none;
    padding: 10px;
    width: 100px;
    height: 50px;
    background-color: gold;
    color: white;
    cursor: pointer;
}

.fp {
    opacity: 0.7;
    color: white;
    margin-top: 20px;
}

.opac {
    opacity: 0.7;
}

.rem {
    font-size: 14px;
}

.headlog {
    font-size: 24px;
    font-weight: 500;
    color: gold;
}

.headingcart {
    margin-top: 50px;
    margin-left: 700px;
}

.carthead {
    letter-spacing: 2.5px;
    color: gold;
    font-weight: 500;
    font-size: 28px;
}

.pricesec {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-left: 1px solid rgb(83, 81, 201);
    padding-left: 30px;
    font-weight: 600;
    line-height: 15px;
    margin-right: 50px;
}

.namediv {
    display: flex;
    letter-spacing: 1.5px;
    font-size: 24px;
    border-left: 1px solid rgb(83, 81, 201);
    padding-left: 15px;
    width: 350px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
    color: gold;
    justify-content: center;
}

.qty {
    color: gold;
    font-weight: 600;
    border-left: 1px solid rgb(83, 81, 201);
    padding-left: 45px;
}

.proddescimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.pdlist {
    color: rgba(255, 255, 255, 0.788);
    line-height: 35px;
    /* letter-spacing: 0.5px; */
}

.deschead {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.788);
    align-self:flex-start;
    padding-left: 8%;
    padding-top: 30px;
}

.specs {
    color: white;
}

.inf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgb(83, 81, 201);
    width: 400px;
    height: auto;
    margin-left: 130px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.infkey {
    color: rgba(255, 255, 255, 0.788);
    font-weight: bold;
    align-self: flex-start;
}

.imgdesc {
    width: 1150px;
    height: auto;
}

.infval {
    color: rgba(255, 255, 255, 0.45);
    align-self: flex-end;
}

.spacepage {
    height: 40px;
}

.feathead {
    color: white;
    font-size: 60px;
    margin-left: 480px;
    font-weight: 500;
    position: absolute;
    letter-spacing: 6px;
    padding-bottom: 250px;
    margin-bottom: 50px;
    z-index: 2;
}

@keyframes fadeIn {
    0% {opacity: 0; position: -100px; }
    100% {opacity: 1; position: 0px;}
}

.fade-in-image {
    animation: fadeIn 0.1s;
    filter: brightness(0.7);
}

/* .fade-in-text {
    animation: fadeIn 1s;
} */

.feattxt {
    color: white;
    font-size: 30px;
    margin-left: 300px;
    font-weight: 400;
    position: absolute;
    letter-spacing: 3px;
    padding-bottom: 20px;
    z-index: 2;
}

.delcart {
    cursor: pointer;
    margin-top: 50px;
    padding-right: 15px;
}

.emptycart {
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 24px;
    color: rgb(83, 81, 201);
}

.whitetxt {
    color: white;
}

.mainaccdet {
    
}